{% extends 'base.html' %}{% load i18n %}
{% block title %}{{ block.super }} - {{ _('Home') }}{% endblock %}
{% block content %}
<main class="deeds home">
    <div class="wrapper">
        <section class="deed current" id="{{ object.id }}">
            <p>
                <s>{{ object.split.0 }}</s><mark>{% if object.them_text %}{{ object.them_text }}{% else %}{{ _('them') }}{% endif %}</mark><s>{{ object.split.1 }}</s>
            </p>
            {# Add ?format=json to the following url will return JSON #}
            <a href="{% url 'suggestions:index' %}?format=json" class="button refresh"></a>
        </section>
    </div>
</main>
<section class="deeds list">
    <div class="wrapper">
        <section class="deed info">
            <h4>Recent Deeds</h4>
            <span class="button status"></span>
        </section>
        {% if recent_suggestions %}
        {% for object_ in recent_suggestions %}
        {# object_ #}
        <section class="deed complete">
            <p><s>Treat</s> them to a <s>meal</s></p>
            <a href="#" class="button heart liked">2</a>
        </section>
        {% endfor %}
        {% else %}
        <section class="deed empty">
            <p>There are no deeds</p>
            <a href="#" class="button empty">0</a>
        </section>
        {% endif %}
    </div>
</section>
{% endblock %}