{% extends 'base.html' %}{% load i18n staticfiles %}
{% block body_class %}home{% endblock %}
{% block title %}{{ block.super }} - {{ _('You\'re a Hero') }}{% endblock %}
{% block content %}
{% for object_ in object_list %}
{% if forloop.first %}
<main>
    <div class="wrapper">
        <section class="deed current" id="{{ object_.id }}" data-actioned-url="{{ object_.get_actioned_url }}" data-like-url="{{ object_.get_like_url }}" data-likes="{{ object.suggestion.liked_by.count }}">
            <p>
                <s>{{ object_.split.0 }}</s><mark>{% if object_.them_text %}{{ object_.them_text }}{% else %}{{ _('them') }}{% endif %}</mark><s>{{ object_.split.1 }}</s>
            </p>
            <a href="{% url 'suggestions:skip' %}" class="icon refresh"></a>
        </section>
    </div>
</main>
<section class="deeds list">
    <div class="wrapper">
        <section class="deed info">
            <h4>Recent Deeds</h4>
            <span class="icon status"></span>
        </section>
        {% else %}
        <section class="deed complete">
            {# URLs provided for examples #}
            <a href="{{ object_.get_put_back_url }}">{{ _('Put Back') }}</a> |
            <a href="{{ object_.get_like_url }}">{{ _('Like') }}</a>
            <p>{{ object_ }}</p>
            <a href="{{ object_.get_like_url }}" class="icon heart liked">{{ object_.suggestion.liked_by.count }}</a>
        </section>
        {% endif %}
{% if forloop.last %}
        </div>
    </section>
{% endif %}
{% endfor %}
{% endblock %}

{% block extra_js %}<script src="{% static "js/users.js" %}"></script>{% endblock %}
