/* ==========================================================================
   Reset
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* ==========================================================================
   Base Typography
   ========================================================================== */

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
h1 {
  font-size: 6.4rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 0.75rem;
}
p {
  font-size: 1.6rem;
}
/* ==========================================================================
   Base Layout
   ========================================================================== */

header,
main,
footer {
  float: left;
}
.container {
  float: left;
}
.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* ==========================================================================
   Header
   ========================================================================== */

header h1 {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
  color: white;
}
header h1:before {
  position: absolute;
  z-index: -1;
  color: #fcb53f;
}
header input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
header label {
  float: right;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: white;
}
header label + ul {
  display: none;
}
header input[type=checkbox]:checked ~ ul {
  display: block;
}
header ul {
  position: absolute;
  background: green;
}
header ul a {
  color: white;
  text-decoration: none;
}
/* ==========================================================================
   Footer
   ========================================================================== */

footer p {
  float: left;
  color: #b2b2b2;
}
footer p a {
  color: #b2b2b2;
}
footer p a:hover {
  color: #737373;
}
footer p + p {
  float: right;
  text-align: right;
}
/* ==========================================================================
   Icons
   ========================================================================== */

/* Base
   ========================================================================== */

.icon {
  text-decoration: none;
}
.icon:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
/* Flash
   ========================================================================== */

.flash:before {
  content: '\e805';
}
/* Menu
   ========================================================================== */

.menu:before {
  content: '\e806';
}
/* Refresh
   ========================================================================== */

.refresh:before {
  content: '\e804';
}
/* Heart
   ========================================================================== */

.heart:before {
  content: '\e800';
}
.heart.liked:before {
  content: '\e802';
}
/* Status
   ========================================================================== */

.status:before {
  content: '\e803';
}
.status.liked:before {
  content: '\e801';
}
/* ==========================================================================
   Deeds - a collection of deeds
   ========================================================================== */

/* Base
   ========================================================================== */

.deeds {
  float: left;
  width: 100%;
}
/* List
   ========================================================================== */

.deeds.list {
  border-top: 1px solid white;
  background: #fafafa;
}
/* ==========================================================================
   Deed - a single deed
   ========================================================================== */

/* Base
   ========================================================================== */

.deed {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.deed:after {
  position: absolute;
  content: '';
  border-right: 4px solid #e6e6e6;
  z-index: 1;
}
.deed:first-child:after {
  top: 50%;
}
.deed:last-child:after {
  bottom: 50%;
}
.deed p {
  cursor: pointer;
  color: #333333;
  display: block;
}
.deed p s {
  text-decoration: none;
}
.deed p mark {
  cursor: text;
  color: inherit;
  border-radius: 10px;
  display: inline-block;
}
.deed p:hover s {
  text-decoration: line-through;
}
.deed .heart,
.deed .status {
  display: block;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  z-index: 2;
  border: none;
  padding: 0;
  margin: 0;
  text-shadow: 0px 1px 1px #e6e6e6;
  background: #fafafa;
}
.deed .heart:before,
.deed .status:before {
  display: block;
  position: absolute;
  text-shadow: 0px 1px 1px #e6e6e6, -1px -1px 0 white, 1px -1px 0 white;
}
.deed .heart:before,
.deed .status:before {
  z-index: -1;
}
.deed .status {
  color: #fcb53f;
}
/* Complete
   ========================================================================== */

.deed.complete p {
  text-decoration: line-through;
  color: #999999;
}
.deed.complete .heart {
  color: #ff77cc;
}
.deed.complete .heart:before {
  text-shadow: 0px 1px 1px #e6e6e6;
}
.deed.complete .liked {
  color: #ff77cc;
}
.deed.complete .liked span {
  color: #ffc3e9;
}
.deed.complete:hover p {
  color: #333333;
}
.deed.complete:hover .heart {
  color: #d9d9d9;
}
.deed.complete:hover .heart span {
  color: #595959;
}
.deed.complete:hover .liked {
  color: white;
}
.deed.complete:hover .liked span {
  color: white;
}
/* Current
   ========================================================================== */

/* Info
   ========================================================================== */

.deed.info {
  cursor: default;
}
/* ==========================================================================
   Views
   ========================================================================== */

/* Home
   ========================================================================== */

body.home header {
  background: #ec2a1f;
}
body.home header ul {
  background: #df1d13;
}
body.home main {
  background: #ee4037;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ee377a), color-stop(1, #ee4037));
  background: -ms-linear-gradient(bottom, #ee377a, #ee4037);
  background: -moz-linear-gradient(center bottom, #ee377a 0%, #ee4037 100%);
  background: -o-linear-gradient(#ee4037, #ee377a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee4037', endColorstr='#ee377a', GradientType=0);
  border-bottom: 1px solid #ed2e74;
}
body.home .current {
  background: none;
  border: 0px;
}
body.home .current:after {
  border: 0px;
}
body.home .current p {
  color: white;
  text-shadow: 0px 1px 1px #c81a11;
}
body.home .current p mark {
  border: 0.4rem dashed #b0170f;
  background: none;
}
body.home .current .refresh {
  position: absolute;
  display: block;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 1px 0px 0px #a7160e, 0px 0px 0px 6px #b0170f;
  z-index: 2;
  background: #ee4037;
  color: #f2f2f2;
  border: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #ee443c;
  text-shadow: 0px 1px 1px #c81a11;
}
body.home .current .refresh:hover {
  background: #f0564f;
  border: 1px solid #ef4940;
  box-shadow: 0px 0px 0px 1px #b0170f, 0px 0px 0px 6px #b91810;
  color: white;
}
/* ==========================================================================
   Media Queries - 0px
   ========================================================================== */

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
@media screen and (min-width: 0px) {
  html {
    font-size: 10px;
  }
  header,
  main,
  footer {
    width: 100%;
  }
  header h1 {
    font-size: 2.4rem;
    line-height: 5rem;
  }
  header h1:before {
    top: 0px;
    bottom: 0px;
    left: 6.55rem;
  }
  header .menu {
    line-height: 2.4rem;
    font-size: 0;
  }
  header .menu:before {
    font-size: 3.4rem;
    line-height: 5rem;
  }
  footer p {
    font-size: 1.6rem;
    padding: 4.8rem 2.4rem;
  }
  .container {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    padding: 0px 2.4rem;
    max-width: 960px;
  }
  .home main {
    padding: 7.2rem 0px;
  }
  .deeds.list {
    padding: 2.4rem 0px;
  }
  .deed {
    width: 100%;
    padding: 3.6rem 0;
  }
  .deed:after {
    top: 0px;
    bottom: 0px;
    right: 3.5rem;
  }
  .deed p {
    font-size: 2.4rem;
    padding-right: 8.8rem;
  }
  .deed .heart,
  .deed .status {
    padding: 0.2rem;
    top: 2.6rem;
    right: 0px;
    line-height: 5rem;
    height: 5.5rem;
    width: 7.4rem;
    font-size: 1.7rem;
  }
  .deed .heart:before,
  .deed .status:before {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 5.3rem;
    line-height: 5.5rem;
  }
  .current p {
    font-size: 6.4rem;
    padding-right: 12.8rem;
  }
  .current p mark {
    padding: 0 0.5rem;
    margin: 0 0.6rem;
    line-height: 7rem;
  }
  .current .refresh {
    top: 5.2rem;
    right: 0.5rem;
    line-height: 6.4rem;
    height: 6.4rem;
    width: 6.4rem;
    font-size: 4.4rem;
  }
}
